<a href="https://colab.research.google.com/github/persona7586/python-chapter--/blob/main/Ch24_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [ ]:
def print_info(**nas):
    for key, value in nas.items():
        print(f'{key}: {value}')

print_info(name='태문', age=31, gender='남')

#**ans **이테라블 : 리스트, 문자열, 딕셔너리, 튜플 등과 같은 반복 가능한 객체를 한 번에 순회할 수 있도록 해줘 데이터 처리에 효율적이고 간결하게 반복문을 사용할 수 있음.
#for key, value in nas.items() : 딕셔너리의 모든 키-값 쌍을 반복
#for : 반복문을 시작하는 키워드로 nas.items()안에서 반환된 각 (key, value) 쌍을 순차적으로 처리 하겠다는 의미
#key, value : 딕셔너리의 키와 값이 각각 할당될 변수, 반복문이 실행 될 때, 한 번의 반복마다 하나의 (key, value) 쌍이 key와 value변수에 저장
#딕셔너리 {'name':'태문', 'age':'31'} => 1. key = 'name', value = '태문' 2. key = 'age', value = 31 한 번의 반복마다 하나의 쌍이 저장
#nas.items() : 딕셔너리의 모든 (키, 값)쌍을 반환
#반환값 = dict_items 객체 - (key, value)형식의 튜플로 구성된 리스트와 유사 ex) {"name": "태문", "age": 31}에서 nas.items()는 [("name", "태문"), ("age", 31)]처럼 동작

name: 태문
age: 31
gender: 남

In [ ]:
#세로가 아닌 가로로 이어서 출력 시도 join을 이용

def print_info(**nas):
    info = ','.join(f'{key}: {value}' for key, value in nas.items())
    print(info)

print_info(name='태문', age=31, gender='남')

#','.join() 리스트 각 요소를 ,로 연결해서 하나의 문자열로 만듬

name: 태문,age: 31,gender: 남