<a href="https://colab.research.google.com/github/persona7586/python-chapter--/blob/main/Chaper0913_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제0]__


오즈 코딩 스쿨 백엔드 8기 과정에 참여한 수강생 중 3명의 수강생이 자율적으로 스터디 그룹을 결성했습니다.

스터디 그룹 내에는 한 주간 배운 내용으로 매주 쪽지 시험을 보는 룰이 있습니다. 점수는 채점자 마음입니다.

쪽지 시험의 점수를 직접 입력받고, 점수의 합을 출력해주세요!


<br>

In [43]:
태문, 태문2, 태문3 = map(int, input().split())
print(태문+태문2+태문3)

#score1 = int(input())
#score2 = int(input())
#score3 = int(input())
#total_score = score1 + score2 + score3
#print(total_score)

#input() : 사용자 입력 항목을 str 타입으로 변환
#split() : 인자로 들어온 문자열을 구분자(delimeter)로 분리, str 타입의 list로 반환
#map 없이 숫자 세 개 입력받기
#map 사용해서 같은 일을 더 짧은 코드로 활용 : num1, num2, num3 = map(int, input().split())
#정수 처리 명령어 : int()

100 90 80
270

__[문제1]<br>__

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.

"비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [3]:
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
movie.insert(2, '비밀')
print(movie)
#특정 위치에 값을 추가하는 메소드 : insert()
#insert() 메소드는 첫 번째 인자로 삽입할 위치의 인덱스를, 두 번째 인자로 삽입할 값을 받음.
#파이썬에서 리스트의 인덱스는 0부터 시작하기 때문에 "나폴레옹"(인덱스 1) 다음에 "비밀"을 추가하기 위해 2를 사용
#서울의 봄(0), 나폴레옹(1), 비밀(2), 괴물(3), 베트맨(4)

['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

---

__[문제1-2]<br>__

movie_rank 리스트에서 '베트맨'를 삭제해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [35]:
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

movie.remove('베트맨')
print(movie)
#python리스트 특정 값 삭제 함수 : remove()
#.remove('')를 활용하면 리스트에서 '베트맨'이라는 값을 찾아 제거
# remove() 함수는 리스트에서 해당 값이 없을 경우 ValueError를 발생시키므로, 해당 값이 리스트에 있는지 확인 후 삭제할 것

['서울의 봄', '나폴레옹', '비밀', '괴물']

__[문제2]<br>__

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

```lang1 = ["C", "C++", "JAVA"]```<br>
```lang2 = ["Python", "Go", "C#"]```  

<br>
실행 예)
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [45]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
언어모음 = lang1 + lang2
print(언어모음)
# '+'연산자 사용으로 두 개의 리스트를 합체

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1.extend(lang2)
print(lang1)

# extend() : 리스트의 끝에 다른 리스트의 모든 항목을 추가

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

---

__[문제3]<br>__

다음 리스트에서 최댓값과 최솟값, 그리고 평균을 출력해주세요.
<br>

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [46]:
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
print("최댓값 : ", max(nums))
print("최솟값 : ", min(nums))
print("평균값 : ", sum(nums) / len(nums))
#최댓값 함수 : max()
#최솟값 : min()
#모든 요소 더한 값 : sum()
#리스트의 길이 반환 : len() ex) [1, 2, 3, 4, 5, 6, 7, 9, 10] = 9

최댓값 :  10
최솟값 :  1
평균값 :  5.222222222222222

---

__[문제4]__

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

```cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]```

In [47]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]
print(len(cook))
#리스트의 길이 반환, 리스트 저장 데이터 개수 구하는 함수 : len()

8

---

---

__[문제5]__

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

```price = ['20180728', 100, 130, 140, 150, 160, 170]```

<br>
출력 예) [100, 130, 140, 150, 160, 170]

In [48]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
N_print = price[1:]
print(N_print)

#price[1:] = price 리스트의 첫 번째 인덱스부터 끝 까지의 값을 선택 (슬라이싱)
#파이썬에서 리스트의 인덱스는 0부터 시작하기 때문에 1부터 선택을 하게되면 0에 위치한 '20180728'값은 제외됨

[100, 130, 140, 150, 160, 170]

---

__[문제6]__

<br>
다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

<br>
출력 예) 메로나 가격: 1000

In [51]:
ice = {'메로나': 1000,'폴로포': 1200,'빵빠레': 1800,'죠스바': 1200,'월드콘': 1500}
print('메로나의 가격', ice['메로나'],'원') #딕셔너리 ice에서 '메로나'라는 키에 해당하는 값 반환
# 딕셔너리에서 특정 키에 대응하는 값 : 딕셔너리[키]
# 딕셔너리 장점 : 키와 값을 쌍으로 저장해서 효율적 사용이 가능함

메로나의 가격 1000 원

---

__[문제6-1]__

다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

In [23]:
ice['메로나'] = 1300
print(ice)
# ice['메로나'] = 1300은 딕셔너리 ice에서 '메로나'라는 키에 해당하는 값을 1300으로 변경

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

---

__[문제7]__

아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


names : 나이썬, 김자바, 김씨, 박씨샵  
grades :   B       B      A      C

In [27]:
grades = {'나이썬' : 'B', '김자바' : 'B', '김씨' : 'A', '박씨샵' : 'C'}
print(grades)

names = ['나이썬', '김자바', '김씨', '박씨샵']
grades = ['B', 'B', 'A', 'C']
result = dict(zip(names, grades))
print(result)

#zip() : names와 grades 리스트를 한 쌍으로 묶어줌
#dict() : 딕셔너리로 변환

{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}
{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}

---

__[문제8]__

아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터) 이름 : 보석바, 가격:650, 재고:10

In [52]:
ice = {"메로나": [300, 20],"비비빅": [400, 3],"죠스바": [250, 100]}
ice['보석바'] = [650, 10]
print(ice)
# ice['보석바'] = [650, 10] :
# ice = 딕셔너리
# 키 = ['보석바']
# 값 = [650, 10]

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': [650, 10]}

---

__[문제9]__

아래 딕셔너리에서 key만 list 형태로 출력해주세요

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [33]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

print(list(ice.keys()))

#ice.keys() = ice(딕셔너리) 모든 키 반환
#list() = 리스트로 변환 후 출력

['메로나', '폴로포', '빵빠레', '죠스바', '월드콘']